[Desktop Entry]
Type=Application
Version=1.0
Name=Bangarang
Name[cs]=Bangarang
Name[da]=Bangarang
Name[de]=Bangarang
Name[el]=Bangarang
Name[es]=Bangarang
Name[et]=Bangarang
Name[fi]=Bangarang
Name[fr]=Bangarang
Name[ga]=Bangarang
Name[gl]=Bangarang
Name[hu]=Bangarang
Name[it]=Bangarang
Name[km]=Bangarang
Name[mr]=बंगारंग
Name[nl]=Bangarang
Name[pl]=Bangarang
Name[pt]=Bangarang
Name[pt_BR]=Bangarang
Name[sk]=Bangarang
Name[sv]=Bangarang
Name[tr]=Bangarang
Name[uk]=Bangarang
Name[x-test]=xxBangarangxx
GenericName=Media Player
GenericName[cs]=Přehrávač médií
GenericName[da]=Medieafspiller
GenericName[de]=Medienwiedergabe
GenericName[el]=Αναπαραγωγέας πολυμέσων
GenericName[es]=Reproductor multimedia
GenericName[et]=Meediamängija
GenericName[fi]=Mediasoitin
GenericName[fr]=Lecteur multimédia
GenericName[ga]=Seinnteoir Meán
GenericName[gl]=Reprodutor de son e vídeo
GenericName[hu]=Media Player
GenericName[it]=Lettore multimediale
GenericName[km]=កម្មវិធី​ចាក់​មេឌៀ
GenericName[mr]=मीडिया प्लेयर
GenericName[nds]=Medienafspeler
GenericName[nl]=Mediaspeler
GenericName[pl]=Odtwarzacz multimedialny
GenericName[pt]=Leitor Multimédia
GenericName[pt_BR]=Reprodutor de mídia
GenericName[sk]=Prehrávač médií
GenericName[sv]=Mediaspelare
GenericName[tr]=Ortam Oynatıcı
GenericName[uk]=Програвач
GenericName[x-test]=xxMedia Playerxx
Icon=bangarang
X-DocPath=bangarang/index.html
TryExec=bangarang
Exec=bangarang %U
MimeType=video/ogg;video/x-theora+ogg;video/x-ogm+ogg;video/x-ms-wmv;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;video/mp4;video/divx;video/x-msvideo;video/x-wmv;video/x-flv;video/flv;audio/mpeg;audio/mp4;audio/ogg;audio/vorbis;audio/aac;audio/aiff;audio/basic;audio/flac;audio/mp2;audio/mp3;audio/vnd.rn-realaudio;audio/wav;application/ogg;audio/x-flac;audio/x-musepack;audio/m3u;audio/x-mpegurl;audio/x-scpls;
Categories=Qt;KDE;AudioVideo;Player;
