[Desktop Entry]
Name=Play DVD with Bangarang
Name[cs]=Přehrát DVD v Bangarangu
Name[da]=Afspil dvd med Bangarang
Name[ga]=Seinn DVD le Bangarang
Name[hu]=DVD lejátszása a Bangaranggal
Name[nl]=Dvd afspelen met Bangarang
Name[pt]=Tocar um DVD com o Bangarang
Name[pt_BR]=Reproduzir DVD com o Bangarang
Name[uk]=Відтворити DVD за допомогою Bangarang
Name[x-test]=xxPlay DVD with Bangarangxx
Actions=open;
Type=Service
X-KDE-Action-Custom=true
X-KDE-Solid-Predicate=[ OpticalDisc.availableContent == 'Data|VideoDvd' AND StorageVolume.ignored == false ]

[Desktop Action open]
Exec=bangarang --play-dvd %u
Icon=bangarang
Name=Play DVD with Bangarang
Name[cs]=Přehrát DVD v Bangarangu
Name[da]=Afspil dvd med Bangarang
Name[ga]=Seinn DVD le Bangarang
Name[hu]=DVD lejátszása a Bangaranggal
Name[nl]=Dvd afspelen met Bangarang
Name[pt]=Tocar um DVD com o Bangarang
Name[pt_BR]=Reproduzir DVD com o Bangarang
Name[uk]=Відтворити DVD за допомогою Bangarang
Name[x-test]=xxPlay DVD with Bangarangxx
X-Ubuntu-Gettext-Domain=desktop_kdebase-workspace
