[Desktop Action open]
Exec=bangarang --play-cd %u
Icon=bangarang
Name=Play CD with Bangarang
Name[nl]=CD afspelen met Bangarang

[Desktop Entry]
Actions=open;
Type=Service
X-KDE-Action-Custom=true
X-KDE-Solid-Predicate=[ OpticalDisc.availableContent == 'Audio' AND StorageVolume.ignored == false ]
