[Desktop Entry]
Name=Play DVD with Bangarang
Name[cs]=Přehrát DVD v Bangarangu
Name[da]=Afspil dvd med Bangarang
Name[de]=DVD mit Bangarang wiedergeben
Name[el]=Αναπαραγωγή DVD με το Bangarang
Name[es]=Reproducir DVD con Bangarang
Name[et]=DVD esitamine Bangarangiga
Name[fi]=Toista DVD Bangarangilla
Name[fr]=Lecture d'un DVD avec Bangarang
Name[ga]=Seinn DVD le Bangarang
Name[gl]=Reproducir o DVD con Bangarang
Name[hu]=DVD lejátszása a Bangaranggal
Name[km]=ចាក់​ឌីវីឌី​ដោយ​ប្រើ Bangarang
Name[nl]=Dvd afspelen met Bangarang
Name[pl]=Odtwórz płytę DVD z Bangarang
Name[pt]=Tocar um DVD com o Bangarang
Name[pt_BR]=Reproduzir DVD com o Bangarang
Name[sk]=Prehrať DVD s Bangarang
Name[sv]=Spela dvd med Bangarang
Name[uk]=Відтворити DVD за допомогою Bangarang
Name[x-test]=xxPlay DVD with Bangarangxx
Actions=open;
Type=Service
X-KDE-Action-Custom=true
X-KDE-Solid-Predicate=[ OpticalDisc.availableContent == 'Data|VideoDvd' AND StorageVolume.ignored == false ]

[Desktop Action open]
Exec=bangarang --play-dvd %u
Icon=bangarang
Name=Play DVD with Bangarang
Name[cs]=Přehrát DVD v Bangarangu
Name[da]=Afspil dvd med Bangarang
Name[de]=DVD mit Bangarang wiedergeben
Name[el]=Αναπαραγωγή DVD με το Bangarang
Name[es]=Reproducir DVD con Bangarang
Name[et]=DVD esitamine Bangarangiga
Name[fi]=Toista DVD Bangarangilla
Name[fr]=Lecture d'un DVD avec Bangarang
Name[ga]=Seinn DVD le Bangarang
Name[gl]=Reproducir o DVD con Bangarang
Name[hu]=DVD lejátszása a Bangaranggal
Name[km]=ចាក់​ឌីវីឌី​ដោយ​ប្រើ Bangarang
Name[nl]=Dvd afspelen met Bangarang
Name[pl]=Odtwórz płytę DVD z Bangarang
Name[pt]=Tocar um DVD com o Bangarang
Name[pt_BR]=Reproduzir DVD com o Bangarang
Name[sk]=Prehrať DVD s Bangarang
Name[sv]=Spela dvd med Bangarang
Name[uk]=Відтворити DVD за допомогою Bangarang
Name[x-test]=xxPlay DVD with Bangarangxx
X-Ubuntu-Gettext-Domain=desktop_kdebase-workspace
