[Desktop Entry]
Name=Play CD with Bangarang
Name[cs]=Přehrát audio CD v Bangarangu
Name[da]=Afspil cd med Bangarang
Name[ga]=Seinn Dlúthdhiosca le Bangarang
Name[hu]=CD lejátszása a Bangaranggal
Name[nl]=Cd afspelen met Bangarang
Name[pt]=Tocar um CD com o Bangarang
Name[pt_BR]=Reproduzir CD com o Bangarang
Name[uk]=Відтворити CD за допомогою Bangarang
Name[x-test]=xxPlay CD with Bangarangxx
Actions=open;
Type=Service
X-KDE-Action-Custom=true
X-KDE-Solid-Predicate=[ OpticalDisc.availableContent == 'Audio' AND StorageVolume.ignored == false ]

[Desktop Action open]
Exec=bangarang --play-cd %u
Icon=bangarang
Name=Play CD with Bangarang
Name[cs]=Přehrát audio CD v Bangarangu
Name[da]=Afspil cd med Bangarang
Name[ga]=Seinn Dlúthdhiosca le Bangarang
Name[hu]=CD lejátszása a Bangaranggal
Name[nl]=Cd afspelen met Bangarang
Name[pt]=Tocar um CD com o Bangarang
Name[pt_BR]=Reproduzir CD com o Bangarang
Name[uk]=Відтворити CD за допомогою Bangarang
Name[x-test]=xxPlay CD with Bangarangxx
